@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins", sans-serif;
}

mark{
    color:honeydew;
    background-color:royalblue;
}

header{
    background-color:antiquewhite;
}

main{
    background-color:azure;
}

.naslov1{
    color:royalblue;
    display:flex;
    justify-content:center;
    padding-top:40px;
}

.podnaslov1{
    color:darkorchid;
    display:flex;
    justify-content:center;
    padding-top:20px;
    padding-bottom:20px;
}

nav{
    display:flex;
    justify-content:center;
    padding-top:40px;
    padding-bottom:40px;
}

.nav-list{
    list-style-type:none;
    padding:0;
    margin:0;
}

.nav-list li{
    display:inline-block;
    margin-right:20px;
}

.nav-list a{
    text-decoration:none;
    color:royalblue;
    font-weight:bold;
    font-size:20px;
}

.nav-list a:hover{
    color:darkorchid;
}

.omeni{
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    margin:20px 0;
}

.a{
    width:700px;
    height:auto;
    text-align:center;
}

blockquote{
    width:700px;
    margin:40px auto;
    padding:20px 30px;
    text-align: center;
    border-radius: 10px;
}

blockquote small{
    display:block;
    margin-top:10px;
    color:darkorchid;
}

.liste{
    display:flex;
    justify-content:center;
    gap:120px;
    margin:40px 0;
}

.lista1, .lista2{
    flex:2;
    width:600px;
}

.lista1 h2, .lista2 h2{
    text-align:center;
    margin-bottom:15px;
    color:darkorchid;
}

.aa{
    padding-left:240px;
    color:#333333;
}

.fotogalerija{
    margin:40px 0;
}

.fotogalerija .slike{
    display:flex;
    justify-content:center;
    gap:20px;
}

.fotogalerija img{
    width:200px;
    height:auto;
    border-radius:10px;
}

.videozapisi{
    display:flex;
    justify-content:center;
    gap: 20px;
    margin:40px 0;
}

.videozapisi video{
    width:320px;
    height:240px;
    border-radius:10px;
}

iframe{
    display:block;
    margin:20px auto;
    border-radius:10px;
}

.audio{
    margin:40px 0;
}
    
.audio audio {
    display: block;
    margin: 0 auto;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    width:100%;
    background-color:antiquewhite; 
    color:royalblue;
}